In [1]:
import pandas as pd

In [2]:
banks = pd.read_csv('banklist.csv')

In [3]:
banks

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,26-Jul-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,26-Jul-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,26-Jul-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
...,...,...,...,...,...,...,...
548,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,19-Aug-14
549,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,18-Nov-02
550,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,18-Feb-03
551,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,17-Mar-05
552,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,17-Mar-05

In [7]:
df = pd.DataFrame(banks)

print(df.head())

                                           Bank Name                City  ST  \
0                                Fayette County Bank          Saint Elmo  IL
1  Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee  WI
2                                     First NBC Bank         New Orleans  LA
3                                      Proficio Bank  Cottonwood Heights  UT
4                      Seaway Bank and Trust Company             Chicago  IL

    CERT                Acquiring Institution Closing Date Updated Date
0   1802            United Fidelity Bank, fsb    26-May-17    26-Jul-17
1  30003  First-Citizens Bank & Trust Company     5-May-17    26-Jul-17
2  58302                         Whitney Bank    28-Apr-17    26-Jul-17
3  35495                    Cache Valley Bank     3-Mar-17    18-May-17
4  19328                  State Bank of Texas    27-Jan-17    18-May-17

In [8]:
print(df.columns)

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

In [9]:
a = df['ST'].nunique()

print(f'There are {a} unique states represented in this dataset.')

There are 44 unique states represented in this dataset.

In [10]:
y=df['ST'].unique()
y

array(['IL', 'WI', 'LA', 'UT', 'NJ', 'AR', 'GA', 'PA', 'TN', 'WA', 'CO',
       'PR', 'FL', 'MN', 'CA', 'MD', 'OK', 'OH', 'SC', 'VA', 'ID', 'TX',
       'CT', 'AZ', 'NV', 'NC', 'KY', 'MO', 'KS', 'AL', 'MI', 'IN', 'IA',
       'NE', 'MS', 'NM', 'OR', 'NY', 'MA', 'SD', 'WY', 'WV', 'NH', 'HI'],
      dtype=object)

In [11]:
b=df['ST'].value_counts()
c=b.head(5)
c

ST
GA    93
FL    75
IL    68
CA    41
MN    23
Name: count, dtype: int64

In [13]:
d=df['Acquiring Institution'].value_counts()
e=d.head(5)
e

Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

In [ ]:
yash